NODE_ENV=development

HASURA_ENDPOINT_PROTOCOL=http
## This can be either IP or hostname(domain).
HASURA_ENDPOINT_IP=localhost
## Sync port with hasura/config.yaml for local development environment
HASURA_ENDPOINT_PORT=8090
HASURA_ENDPOINT=${HASURA_ENDPOINT_PROTOCOL}://${HASURA_ENDPOINT_IP}:${HASURA_ENDPOINT_PORT}

## Docs for authentication: https://docs.hasura.io/1.0/graphql/manual/auth/authentication/index.html
HASURA_GRAPHQL_ADMIN_SECRET=helloworld

## Docs for logs: https://docs.hasura.io/1.0/graphql/manual/deployment/logging.html
HASURA_GRAPHQL_ENABLED_LOG_TYPES=startup, http-log, webhook-log, websocket-log, query-log

## Set to "false" to disable console or for manual [migration](https://docs.hasura.io/1.0/graphql/manual/migrations/existing-database.html)
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_JWT_SECRET="3EK6FD+o0+c7tzBNVfjpMkNDi2yARAAKzQlk8O2IKoxQu4nF7EdAh8s3TwpHwrdWT6R"
HASURA_GRAPHQL_V1_BOOLEAN_NULL_COLLAPSE=true

# HASURA other vars config
HASURA_GRAPHQL_DEV_MODE=true

# Openfaas Serverless
FUNCTION_SEND_NOTIFICATION_URL=http://h08-send-notification:3000
FUNCTION_REQUEST_OTP_URL=http://h08-request-otp:3000
FUNCTION_AUTHORIZE_OTP_URL=http://h08-authorize-otp:3000

# HASURA Auth hook
HASURA_GRAPHQL_AUTH_HOOK=http://h08-hasura-auth-webhook:3000
# HASURA Graphql engine endpoint
HGE_ENDPOINT=http://h08-graphql-engine:8080

# Database

POSTGRES_ENDPOINT_IP=localhost
POSTGRES_ENDPOINT_PORT=5432
POSTGRES_DATABASE=h08
POSTGRES_USERNAME=h08
POSTGRES_PASSWORD=h08
## example for other timezones notation: DB_TIMEZONE=Asia/Seoul
POSTGRES_TIMEZONE=utc
